$theme-color = #29B6F6
$theme-text-color = #2b85e4
$mask-color = #9E9E9E
$siderbar-bg-color = rgb(49, 58, 62)
$siderbar-text-color = rgb(213, 221, 227)
$notebook-bg = rgb(246, 246, 246)
$line-color = rgb(209, 209, 209)
$date-color = #80848f
$danger-color = #ed3f14
$edit-color = #19be6b
